.example-card {
    max-width: 70vw;
    margin-left: 15vw;
    margin-bottom: 20px;
    height: 493px;
  }
  
  .example-header-image {
    background-image: url('http://addplaybuttontoimage.way4info.net/Images/Icons/10.png');
    background-size: cover;
  }

  .card-buttons {
      float: right;
  }