<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
<button mat-button (click)="addSong()">ADD</button>
<button mat-button (click)="updateSong()">update</button>
<button mat-button (click)="removeSong('_ujq7okwz3')">delete</button>
<!-- <div fxLayout="row" fxLayoutAlign="start center"> -->

    <!-- <div *ngFor="let song of musicList | async"> -->
        <mat-card *ngFor="let song of (musicList | async).songlist" class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{song.Name}}</mat-card-title>
                <mat-card-subtitle>{{song.Artist}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{song.CoverURL}}" alt="Cover Photo">
            <mat-card-content>
                <p>
                    <span>Genre: {{song.Genre}} </span><br>
                    <span>Released: {{song.ReleaseDate}}</span>
                </p>
            </mat-card-content>
            <mat-card-actions class="card-buttons">
                <button mat-button>Edit</button>
                <button mat-button (click)="removeSong(song.ID)">Delete</button>
            </mat-card-actions>
        </mat-card>
        <br>
        <br>
        <br>
        <br>
    <!-- </div> -->
<!-- </div> -->